<aside class="sidebar">

      <div class="logo">

    <img
        src="{{ url_for(
            'static',
            filename='images/logo.png'
        ) }}"
    >

    <div class="logo-text">
        <h2>SupportOps</h2>
        <p>AI Copilot</p>
    </div>

</div>

    <nav>

        <a href="/"
           class="nav-item {% if request.path=='/' %}active{% endif %}">
            Dashboard
        </a>

         <a href="/support-chat"
            class="nav-item {% if request.path=='/support-chat' %}active{% endif %}">
            Support Agent
        </a>


        <a href="/chat-page"
           class="nav-item {% if request.path=='/chat-page' %}active{% endif %}">
            AI Chat
        </a>

        <a href="/logs"
           class="nav-item {% if request.path=='/logs' %}active{% endif %}">
            Logs
        </a>

      


    </nav>

</aside>